body {
  
.oswald-<uniquifier> {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/042/193/640/small/ai-generated-overcast-sky-background-free-photo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}
header {
  text-align: center;
  font-weight: 700px;
  font-size: 50px;
}

h1 {
  text-align: center;
}
.serch-form {
 ax-width:100%;
  margin:40px auto; 
}
.main {
  background:#f8f8faf5;
  max-width:600px;
  margin:40px auto;
  padding:30px;
  boarder-radius:15px;
  box shadow:0 30px 50px rgba(65,50,100,0.08);
}
ul { 
  display: flex;
  list-style: none;
  gap: 15px;       
}

